In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [31]:


data =  pd.read_csv('combo.gzip',compression='gzip',parse_dates=True,index_col='date')
print('done');

done

In [40]:
data['departure_delay'] = data['departure_delay'].astype(int)
data['arrival_delay'] = data['arrival_delay'].astype(int)

In [54]:
def formatTime(int):
    return datetime.time(int//100, int%100)

In [63]:
length = len(data.departure_actual)
data['departure_actual_datetime'] = np.nan
data['departure_scheduled_datetime'] = np.nan
data['arrival_actual_datetime'] = np.nan
data['arrival_scheduled_datetime'] = np.nan

for i in range(0, length):
    base_date = data['date'][i]
    arrival_actual = data['arrival_actual'][i]
    
    #datetime.timedelta(seconds = (time2 - time1).seconds)

In [15]:
data.arrival_schedule = data.arrival_schedule.fillna(value=(data.arrival_actual - data.arrival_delay))
data.departure_schedule = data.departure_schedule.fillna(value=(data.departure_actual - data.departure_delay))

In [16]:
#departure&arrival_schedule are now not null and int32

In [17]:
for column in data:
    assert pd.notnull(data[column]).all()
    print(column+' is clean')

airline is clean
airline_code is clean
departure_airport is clean
departure_state is clean
departure_lat is clean
departure_lon is clean
arrival_airport is clean
arrival_state is clean
arrival_lat is clean
arrival_lon is clean
departure_schedule is clean
departure_actual is clean
departure_delay is clean
arrival_schedule is clean
arrival_actual is clean
arrival_delay is clean

In [18]:
data['airline_code'] = data['airline_code'].astype(str)
data['departure_delay'] = data['departure_delay'].astype(float)
data['arrival_delay'] = data['arrival_delay'].astype(float)

In [42]:
data = data.reset_index()

In [44]:
print(formatTime(918))

09:18:00

In [38]:
data['arrival_schedule'] = data['arrival_schedule'].astype(int)
data['departure_schedule'] = data['departure_schedule'].astype(int)
data['arrival_schedule'] = data['arrival_schedule'].astype(str)
data['departure_schedule'] = data['departure_schedule'].astype(str)
data['arrival_actual'] = data['arrival_actual'].astype(str)
data['departure_actual'] = data['departure_actual'].astype(str)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [37]:
data.departure_schedule = data.departure_schedule.apply(formatTime)
data.departure_actual = data.departure_actual.apply(formatTime)
data.arrival_schedule = data.arrival_schedule.apply(formatTime)
data.arrival_actual = data.arrival_actual.apply(formatTime)

TypeError: integer argument expected, got float

In [43]:
data.head(20)

,date,airline,airline_code,departure_airport,departure_state,departure_lat,departure_lon,arrival_airport,arrival_state,arrival_lat,arrival_lon,departure_schedule,departure_actual,departure_delay,arrival_schedule,arrival_actual,arrival_delay
0,2012-11-25,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,1755.0,1805,10,1931.0,1948,17
1,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,1755.0,1752,-3,1931.0,1929,-2
2,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,1445.0,1442,-3,1623.0,1615,-8
3,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,2005.0,2007,2,2140.0,2139,-1
4,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,1630.0,1624,-6,1808.0,1805,-3
5,2012-11-30,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,2220.0,2213,-7,2354.0,2339,-15
6,2012-11-30,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,920.0,1223,183,1056.0,1403,187
7,2012-11-26,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,2005.0,2006,1,2140.0,2144,4
8,2012-11-27,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,1120.0,1120,0,1255.0,1326,31
9,2012-11-27,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,1310.0,1309,-1,1450.0,1454,4
10,2012-11-27,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,1630.0,1625,-5,1808.0,1803,-5
11,2012-11-24,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,2220.0,2218,-2,2353.0,2357,4
12,2012-11-21,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,1120.0,1121,1,1255.0,1316,21
13,2012-11-21,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,750.0,753,3,929.0,937,8
14,2012-11-20,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,750.0,748,-2,929.0,920,-9
15,2012-11-20,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,1310.0,1311,1,1450.0,1445,-5
16,2012-11-19,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,750.0,803,13,929.0,949,20
17,2012-11-19,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,1310.0,1306,-4,1450.0,1436,-14
18,2012-12-25,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,1755.0,1845,50,1929.0,2000,31
19,2012-12-26,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,630.0,623,-7,808.0,807,-1

In [25]:
data.to_csv('cleaned.gzip',compression='gzip')

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11401196 entries, 0 to 11401195
Data columns (total 17 columns):
date                  datetime64[ns]
airline               object
airline_code          int64
departure_airport     object
departure_state       object
departure_lat         float64
departure_lon         float64
arrival_airport       object
arrival_state         object
arrival_lat           float64
arrival_lon           float64
departure_schedule    float64
departure_actual      int64
departure_delay       int64
arrival_schedule      float64
arrival_actual        int64
arrival_delay         int64
dtypes: datetime64[ns](1), float64(6), int64(5), object(5)
memory usage: 1.4+ GB