In [4]:
import pandas as pd
import sklearn as sk
import numpy as np
import matplotlib.pyplot as plt
plt.style.use("ggplot")
import datetime
import winsound

In [5]:
df = pd.read_csv('finalCleaning.gzip',compression='gzip',index_col=0)

winsound.Beep(2000,300) # Beep when code is executed

C:\Users\Matthias\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [309]:
def parseAsTime(row):
    row.departure_schedule = datetime.datetime.strptime(row.departure_schedule,"%H:%M:%S").time()
    row.departure_actual = datetime.datetime.strptime(row.departure_actual,"%H:%M:%S").time()
    row.arrival_schedule = datetime.datetime.strptime(row.arrival_schedule,"%H:%M:%S").time()
    row.arrival_actual = datetime.datetime.strptime(row.arrival_actual,"%H:%M:%S").time()
    return row

In [310]:
df_ml = df.loc[0:9999].apply(parseAsTime,axis=1)

In [311]:
df_ml["flight_duration"] = np.nan
def addFlightDuration(row):
    now = datetime.datetime.now()
    row.flight_duration = datetime.datetime.combine(now, row.arrival_schedule) - datetime.datetime.combine(datetime.date.min, row.departure_schedule)
    row.flight_duration = (datetime.datetime.min + row.flight_duration).time()
    return row

In [312]:
df_ml = df_ml.apply(addFlightDuration, axis=1)

In [313]:
def parseAsInt(row):
    row.departure_schedule = row.departure_schedule.minute + (row.departure_schedule.hour*60)
    row.arrival_schedule = row.arrival_schedule.minute + (row.arrival_schedule.hour*60)
    row.flight_duration = row.flight_duration.minute + (row.flight_duration.hour*60)
    return row

In [314]:
df_ml = df_ml.apply(parseAsInt, axis=1)

In [315]:
print(type(df_ml.date[0]))
if(type(df_ml.date[0]) == str):
    df_ml.date = pd.to_datetime(df_ml.date)
#    df_ml.date = df_ml.date.map(datetime.datetime.toordinal)

<class 'str'>

In [316]:
df_ml["month"] = np.nan
def addMonth(row):
    row.month = row.date.month
    return row

In [317]:
df_ml = df_ml.apply(addMonth, axis=1)

In [318]:
df_ml.date = df_ml.date.map(datetime.datetime.toordinal)

In [319]:
def makeDiscreet(row):
    if(row.departure_delay<0):
        row.departure_delay = 0 # = early or ontime
    else: 
        #if(row.departure_delay<10):
            row.departure_delay = 1 #1 = 0 to 5 min late
        #else: 
         #   if(row.departure_delay<10):
          #      row.departure_delay = 2 #2 = 5 to 10 min late
           # else:
            #    row.departure_delay = 3 #3 = 10 min or more late
    return row

In [320]:
df_ml = df_ml.apply(makeDiscreet, axis=1)

In [321]:
from sklearn.neighbors import KNeighborsClassifier

In [322]:
df_ml = df_ml.loc[:,["date","month","departure_schedule", "arrival_schedule","flight_duration","departure_delay"]]

In [323]:
df_ml.head()

,date,month,departure_schedule,arrival_schedule,flight_duration,departure_delay
0,734832,11,1075,1171,96,1
1,734836,11,1075,1171,96,0
2,734836,11,885,983,98,0
3,734836,11,1205,1300,95,1
4,734836,11,990,1088,98,0

In [324]:
def doKNN(n_amount):
    knn = KNeighborsClassifier(n_neighbors=n_amount)
    x = df_ml.drop("departure_delay",axis=1).values
    y = df_ml.departure_delay.values
    x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3, random_state = 1)
    knn.fit(x_train,y_train)
    return knn.score(x_test,y_test)

In [325]:
doKNN(35) # best neighbors

0.5990766666666667

In [326]:
highest = 0;
failCount = 0;
for i in range(1,301,2):
    score = doKNN(i)
    if(score>highest):
        highest = score
        print(highest)
        print(i)

0.567906666667
1
0.577763333333
3
0.583886666667
5
0.586903333333
7
0.58829
9
0.590416666667
11
0.591476666667
13
0.593293333333
15
0.5943
17
0.595413333333
19
0.59588
21
0.596663333333
23
0.59679
25
0.597043333333
27
0.598226666667
29
0.598503333333
31
0.599076666667
35
0.599416666667
37
0.59982
39
0.60035
41
0.600923333333
43
0.6012
45
0.601246666667
47
0.60139
49
0.60153
51
0.601743333333
63
0.601886666667
67
0.602066666667
73
0.602503333333
75
0.60262
77
0.602666666667
93
0.60267
95
0.602833333333
97
0.602956666667
99
0.603113333333
105
0.60316
107
0.603253333333
111