In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:

set1 = pd.read_csv('flights_2010_000000000000.gzip',compression='gzip',parse_dates=True,index_col='date')

set2 = pd.read_csv('flights_2010_000000000001.gzip',compression='gzip',parse_dates=True,index_col='date')

set3 = pd.read_csv('flights_2010_000000000002.gzip',compression='gzip',parse_dates=True,index_col='date')

set4 = pd.read_csv('flights_2010_000000000003.gzip',compression='gzip',parse_dates=True,index_col='date')

set5 = pd.read_csv('flights_2010_000000000004.gzip',compression='gzip',parse_dates=True,index_col='date')

set6 = pd.read_csv('flights_2010_000000000005.gzip',compression='gzip',parse_dates=True,index_col='date')

In [6]:
set1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1898651 entries, 2012-11-25 to 2012-04-03
Data columns (total 16 columns):
airline               object
airline_code          int64
departure_airport     object
departure_state       object
departure_lat         float64
departure_lon         float64
arrival_airport       object
arrival_state         object
arrival_lat           float64
arrival_lon           float64
departure_schedule    int64
departure_actual      int64
departure_delay       int64
arrival_schedule      int64
arrival_actual        int64
arrival_delay         int64
dtypes: float64(4), int64(7), object(5)
memory usage: 246.3+ MB

In [8]:
set2.head()

,airline,airline_code,departure_airport,departure_state,departure_lat,departure_lon,arrival_airport,arrival_state,arrival_lat,arrival_lon,departure_schedule,departure_actual,departure_delay,arrival_schedule,arrival_actual,arrival_delay
date,,,,,,,,,,,,,,,,
2012-11-25,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,1447.0,1447,0,1625.0,1626,1
2012-11-28,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,2220.0,2249,29,2354.0,22,28
2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,2220.0,2214,-6,2354.0,2348,-6
2012-11-30,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,630.0,629,-1,808.0,756,-12
2012-11-30,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,750.0,743,-7,929.0,914,-15

In [3]:
combo = pd.concat([set1,set2,set3,set4,set5,set6])

In [4]:
combo.to_csv('combo.gzip',compression='gzip')

In [3]:
combo = pd.read_csv('combo.gzip',compression='gzip',parse_dates=True,index_col='date')

In [4]:
combo.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11401196 entries, 2012-11-25 to 2012-04-10
Data columns (total 16 columns):
airline               object
airline_code          int64
departure_airport     object
departure_state       object
departure_lat         float64
departure_lon         float64
arrival_airport       object
arrival_state         object
arrival_lat           float64
arrival_lon           float64
departure_schedule    float64
departure_actual      int64
departure_delay       int64
arrival_schedule      float64
arrival_actual        int64
arrival_delay         int64
dtypes: float64(6), int64(5), object(5)
memory usage: 1.4+ GB

In [9]:
combo.head()

,airline,airline_code,departure_airport,departure_state,departure_lat,departure_lon,arrival_airport,arrival_state,arrival_lat,arrival_lon,departure_schedule,departure_actual,departure_delay,arrival_schedule,arrival_actual,arrival_delay
date,,,,,,,,,,,,,,,,
2012-11-25,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,1755.0,1805,10,1931.0,1948,17
2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,1755.0,1752,-3,1931.0,1929,-2
2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,1445.0,1442,-3,1623.0,1615,-8
2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,2005.0,2007,2,2140.0,2139,-1
2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,1630.0,1624,-6,1808.0,1805,-3

In [25]:
assert pd.notnull(combo.airline).all()

In [26]:
assert pd.notnull(combo.airline_code).all()

In [27]:
assert pd.notnull(combo.departure_airport).all()

In [28]:
assert pd.notnull(combo.departure_state).all()
assert pd.notnull(combo.departure_lat).all()
assert pd.notnull(combo.departure_lon).all()

In [32]:
assert pd.notnull(combo.arrival_airport).all()
assert pd.notnull(combo.arrival_state).all()
assert pd.notnull(combo.arrival_lat).all()
assert pd.notnull(combo.arrival_lon).all()

In [36]:
assert pd.notnull(combo.departure_actual).all()
assert pd.notnull(combo.departure_delay).all()

In [37]:
assert pd.notnull(combo.departure_schedule).all()

AssertionError:

In [40]:
assert pd.notnull(combo.arrival_schedule).all()

AssertionError:

In [42]:
assert pd.notnull(combo.arrival_actual).all()
assert pd.notnull(combo.arrival_delay).all()