In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import time
import math

In [7]:
df = pd.read_csv('datetime.gzip',compression='gzip',parse_dates=[1,18,19,20,21],index_col=0,infer_datetime_format=True)
#df = df.reset_index()

C:\Users\Matthias\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [8]:
df.head()

,date,airline,airline_code,departure_airport,departure_state,departure_lat,departure_lon,arrival_airport,arrival_state,arrival_lat,...,departure_schedule,departure_actual,departure_delay,arrival_schedule,arrival_actual,arrival_delay,departure_actual_datetime,departure_schedule_datetime,arrival_actual_datetime,arrival_schedule_datetime
0,2012-11-25,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,...,1755.0,1805,10,1931.0,1948,17,2012-11-25 18:05:00,2012-11-25 17:55:00,2012-11-25 19:48:00,2012-11-25 19:31:00
1,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,...,1755.0,1752,-3,1931.0,1929,-2,2012-11-29 17:52:00,2012-11-29 17:55:00,2012-11-29 19:29:00,2012-11-29 19:31:00
2,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,...,1445.0,1442,-3,1623.0,1615,-8,2012-11-29 14:42:00,2012-11-29 14:45:00,2012-11-29 16:15:00,2012-11-29 16:23:00
3,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,...,2005.0,2007,2,2140.0,2139,-1,2012-11-29 20:07:00,2012-11-29 20:05:00,2012-11-29 21:39:00,2012-11-29 21:40:00
4,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,...,1630.0,1624,-6,1808.0,1805,-3,2012-11-29 16:24:00,2012-11-29 16:30:00,2012-11-29 18:05:00,2012-11-29 18:08:00

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11401196 entries, 0 to 11401195
Data columns (total 21 columns):
date                           datetime64[ns]
airline                        object
airline_code                   int64
departure_airport              object
departure_state                object
departure_lat                  float64
departure_lon                  float64
arrival_airport                object
arrival_state                  object
arrival_lat                    float64
arrival_lon                    float64
departure_schedule             float64
departure_actual               int64
departure_delay                int64
arrival_schedule               float64
arrival_actual                 int64
arrival_delay                  int64
departure_actual_datetime      datetime64[ns]
departure_schedule_datetime    datetime64[ns]
arrival_actual_datetime        datetime64[ns]
arrival_schedule_datetime      datetime64[ns]
dtypes: datetime64[ns](5), float64(6), int64(5), object(5)
memory usage: 1.9+ GB

In [10]:
def fixRows(row):
    row['arrival_actual'] = row["arrival_actual_datetime"].time()
    row['departure_actual'] = row["departure_actual_datetime"].time()
    row["arrival_schedule"] = row["arrival_schedule_datetime"].time()
    row["departure_schedule"] = row["departure_schedule_datetime"].time()
    row["date"] = row["date"].date()
    return row

In [11]:
df = df.apply(fixRows,axis=1)

In [12]:
df.head()

,date,airline,airline_code,departure_airport,departure_state,departure_lat,departure_lon,arrival_airport,arrival_state,arrival_lat,...,departure_schedule,departure_actual,departure_delay,arrival_schedule,arrival_actual,arrival_delay,departure_actual_datetime,departure_schedule_datetime,arrival_actual_datetime,arrival_schedule_datetime
0,2012-11-25,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,...,17:55:00,18:05:00,10,19:31:00,19:48:00,17,2012-11-25 18:05:00,2012-11-25 17:55:00,2012-11-25 19:48:00,2012-11-25 19:31:00
1,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,...,17:55:00,17:52:00,-3,19:31:00,19:29:00,-2,2012-11-29 17:52:00,2012-11-29 17:55:00,2012-11-29 19:29:00,2012-11-29 19:31:00
2,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,...,14:45:00,14:42:00,-3,16:23:00,16:15:00,-8,2012-11-29 14:42:00,2012-11-29 14:45:00,2012-11-29 16:15:00,2012-11-29 16:23:00
3,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,...,20:05:00,20:07:00,2,21:40:00,21:39:00,-1,2012-11-29 20:07:00,2012-11-29 20:05:00,2012-11-29 21:39:00,2012-11-29 21:40:00
4,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,...,16:30:00,16:24:00,-6,18:08:00,18:05:00,-3,2012-11-29 16:24:00,2012-11-29 16:30:00,2012-11-29 18:05:00,2012-11-29 18:08:00

In [20]:
df = df.drop(['arrival_actual_datetime','departure_actual_datetime','arrival_schedule_datetime','departure_schedule_datetime'],axis=1)

In [21]:
df.head()

,date,airline,airline_code,departure_airport,departure_state,departure_lat,departure_lon,arrival_airport,arrival_state,arrival_lat,arrival_lon,departure_schedule,departure_actual,departure_delay,arrival_schedule,arrival_actual,arrival_delay
0,2012-11-25,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,17:55:00,18:05:00,10,19:31:00,19:48:00,17
1,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,17:55:00,17:52:00,-3,19:31:00,19:29:00,-2
2,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,14:45:00,14:42:00,-3,16:23:00,16:15:00,-8
3,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,20:05:00,20:07:00,2,21:40:00,21:39:00,-1
4,2012-11-29,US,20355,CLT,NC,35.21,-80.94,PHL,PA,39.87,-75.24,16:30:00,16:24:00,-6,18:08:00,18:05:00,-3

In [22]:
for column in df:
    print(column+' clean? : ')
    assert pd.notnull(df[column]).all()

date clean? :
airline clean? :
airline_code clean? :
departure_airport clean? :
departure_state clean? :
departure_lat clean? :
departure_lon clean? :
arrival_airport clean? :
arrival_state clean? :
arrival_lat clean? :
arrival_lon clean? :
departure_schedule clean? :
departure_actual clean? :
departure_delay clean? :
arrival_schedule clean? :
arrival_actual clean? :
arrival_delay clean? :

In [24]:
df.to_csv('finalCleaning.gzip',compression='gzip')